---
import YoutubeIcon from '../icons/YoutubeIcon.astro';
import EbookIcon from '../icons/EbookIcon.astro';
import TableIcon from '../icons/TabletIcon.astro';
import './service.scss';
---

<section class="services wrapper" id="services">
  <h2 class="title">Nuestros servicios 🚀</h2>

  <div class="bento">
    <div class="bento__1">
      <EbookIcon className="bento__icon" />
      <a href="#" class="bento__span">Clases de chino con Lele</a>
    </div>
    <div class="bento__2">
      <TableIcon className="bento__icon" />
      <a href="#" class="bento__span">Ebook a la venta por tan solo 2€</a>
    </div>
    <div class="bento__3">
      <YoutubeIcon className="bento__icon" />
      <a href="#" class="bento__span">¡Visita nuestro canal de Youtube!</a>
    </div>
  </div>
</section>
