.posts {
  padding: 4rem 1rem;
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 1rem;

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    }
  }
}

.post {
  position: relative;
  overflow: hidden;

  border-radius: 0.5rem;

  &:hover {
    &::before {
      background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, transparent 100%);
    }
    .post__content {
      opacity: 1;
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transition: background 0.3s ease-in;
  }

  &:hover {
    background-color: red;
  }
  &__img {
  }
  &__content {
    opacity: 0;
    width: 100%;
    padding: 1rem 0.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--background);
    transition: opacity 0.3s ease-in;
  }
  &__title {
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  &__description {
    font-weight: 500;
  }
}
