---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header/Header.astro';
import Hero from '../components/hero/Hero.astro';
import Slider from '../components/slider/Slider.astro';
---

<Layout title="Home">
  <main>
    <div class="back-ground">
      <Header />
      <Hero />
    </div>
    <Slider />
  </main>
</Layout>
