---
import './header.scss';
---

<header class="header">
  <div class="header__container wrapper">
    <h1 class="logo">Jabiertzo</h1>
    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="/">Inicio</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Sobre mí</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Aprende chino</a>
        </li>
        <!-- <li class="nav__item">
          <a class="nav__link" href="#">Blog</a>
        </li> -->
        <li class="nav__item">
          <a class="nav__link" href="#services">Servicios</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
