.header {
  margin-bottom: 2rem;
  &__container {
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  &__item {
  }
  &__item {
  }
  &__link {
    font-weight: 600;
  }
}
