---
interface Props {
  title: string;
}

const { title } = Astro.props;
import '../styles/global.scss';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script
      type="module"
      is:inline
      defer
      src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js"></script>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  .wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  .video {
    aspect-ratio: 16/9;
  }
  .back-ground {
    background-image: linear-gradient(to right, var(--background), var(--muted));
  }
  .title {
    font-size: clamp(1.5rem, 3.5vw, 3rem);
    margin-bottom: 2rem;
    font-weight: 800;
  }
  .logo {
    user-select: none;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    font-weight: 700;
  }
  .toogle {
    position: fixed;
    bottom: 6rem;
    z-index: 1;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-color: var(--foreground);
    color: var(--background);

    @media screen and (min-width: 650px) {
      opacity: 0;
      pointer-events: none;
    }
  }
</style>
